---
layout: compress
---
<!DOCTYPE html>
<html lang="es-CL" dir="ltr" class="no-js">
  <head>
    <!-- Generic metadata for search engines-->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="description" content="{{ site.description }}. {{ site.extradescription }}">
    {% if page.image %}
      <meta name="image" content="{{ site.url }}{{ page.image }}">
    {% else %}
      <meta name="image" content="{{ site.url }}/images/logos/site-logo-640x492.jpg">
    {% endif %}

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="description" content="{{ site.description }}. {{ site.extradescription }}">
    
    {% if page.image %}
      <meta itemprop="image" content="{{ site.url }}{{ page.image }}">
    {% else %}
      <meta itemprop="image" content="{{ site.url }}/images/logos/site-logo-640x492.jpg">
    {% endif %}

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ site.description }}. {{ site.extradescription }}">
    <meta name="twitter:site" content="@MozillaReleases">
    {% if page.image %}
      <meta name="twitter:image:" content="{{ site.url }}{{ page.image }}">
    {% else %}
      <meta name="twitter:image:" content="{{ site.url }}/images/logos/site-logo-640x492.jpg">
    {% endif %}

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ site.description }}. {{ site.extradescription }}">
    {% if page.image %}
      <meta property="og:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}/images/logos/site-logo-640x492.jpg">
    {% endif %}
  
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="Mozilla Chile">
    <meta property="og:locale" content="en-US">
    <meta property="og:type" content="website">

    <!-- Icons -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favicons/favicon-196x196.png">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">


    <link rel="alternate" type="application/rss+xml" title="{{ site.root_desc }} - Feed" href="/feed.xml">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" id="frontierline-css" href="/themes/frontierline-rm/style.css" type="text/css" media="all" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="/themes/frontierline-rm/js/jquery.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172502773-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-172502773-1');
    </script>

    <!-- PWA -->
    <link rel='manifest' href='/manifest.json'>
    
    <script>
      if ("serviceWorker" in navigator) {
        if (!navigator.serviceWorker.controller) {
          navigator.serviceWorker
            .register("/serviceworker.js", {
              scope: "./"
            })
            .then(function (reg) {
            });
        }
      }
    </script>
  </head>

  <body class="{% if page.home%}blog{% else %}post-template-default single single-post single-format-standard color-scheme-none pattern-none{% endif %}">
    <nav id="nav-global" class="nav-global can-stick">

    <div class="content">
      <div class="logo"><a href="https://www.mozilla.org" rel="external" title="Visit mozilla.org">Mozilla</a></div>

      <p class="fx-cta" style="display:none;"><a href="https://www.mozilla.org/firefox/channel/desktop/#nightly" rel="external" class="button button-green">Download Firefox Nightly</a></p>

      <div class="nav-mozilla">
        <span class="toggle" role="button" aria-controls="nav-mozilla-menu" aria-expanded="false" tabindex="0">Menú</span>
        <ul class="nav-mozilla-menu" id="nav-mozilla-menu">
          <li class="nav-global-health"><a href="https://www.mozilla.org/internet-health/" rel="external">Salud de Internet</a></li>
          <li class="nav-global-tech"><a href="https://www.mozilla.org/technology/" rel="external">Innovaciones Web</a></li>
          <li class="nav-global-donate"><a href="https://donate.mozilla.org/" rel="external">Donar con amor</a></li>
          <li class="nav-global-firefox"><a href="https://www.mozilla.org/firefox/products/" rel="external">Descubre Firefox</a></li>
        </ul>
      </div>

      <a class="page-top" href="#masthead" title="Arriba">Arriba</a>
    </div>
  </nav>

  <header id="masthead" class="section">
    <div class="site-id">
      <div class="site-title-wrap content">
        {% if home%}
            <h1 id="site-title"><span>{{ site.title }}</span></h1>
        {% else %}
        <a href="/"><h1 id="site-title"><span>{{ site.title }}</span></h1></a>
        {% endif %}
              <p id="site-description"><span>{{ site.description }}</span></p>
                </div>
    </div>
  </header>
  <div class="site-wrap">

    <nav id="nav-util" class="can-stick ">
      <ul class="content">
        <li class="nav-util-categories"><a href="/">Inicio</a></li>
        <li class="nav-util-categories"><a href="https://community.mozilla.org/groups/mozilla-chile/?view=events">Eventos</a></li>
      </ul>
    </nav>

    <main id="content" role="main">
      {{ content }}
    </main>
  </div><!-- /.site-wrap -->

  <footer id="site-info" class="section">
    <div class="content">
      <nav class="primary">
        <div class="logo">
          <a href="https://www.mozilla.org" data-link-type="footer" data-link-name="Mozilla">Mozilla</a>
        </div>
        <section class="mozilla">
          <h5><a href="https://www.mozilla.org" data-link-type="footer" data-link-name="Mozilla">Mozilla</a></h5>
          <ul class="mozilla-links">
            <li><a href="https://www.mozilla.org/about/" data-link-type="footer" data-link-name="About">Acerca de</a></li>
            <li><a href="https://www.mozilla.org/contact/" data-link-type="footer" data-link-name="Contact Us">Contáctenos</a></li>
            <li><a href="https://donate.mozilla.org/?presets=100,50,25,15&amp;amount=50&amp;currency=usd" class="donate" data-link-type="footer" data-link-name="Donate">Donar</a></li>
            <li>
              <ul class="social-links">
                <li><a class="twitter" href="https://twitter.com/mozilla" data-link-type="footer" data-link-name="Twitter (@mozilla)">Twitter<span> (@mozilla)</span></a></li>
                <li><a class="facebook" href="https://www.facebook.com/mozilla" data-link-type="footer" data-link-name="Facebook (Mozilla)">Facebook<span> (Mozilla)</span></a></li>
                <li><a class="instagram" href="https://www.instagram.com/mozillagram/" data-link-type="footer" data-link-name="Instagram (@mozillagram)">Instagram<span> (@mozillagram)</span></a></li>
              </ul>
            </li>
          </ul>
        </section>
        <section class="firefox">
          <h5><a href="https://www.mozilla.org/firefox/" data-link-type="footer" data-link-name="Mozilla">Firefox</a></h5>
          <ul class="firefox-links">
            <li><a href="https://www.mozilla.org/firefox/" data-link-type="footer" data-link-name="Download Firefox now">Descargar el Navegador Web Firefox</a></li>
            <li><a href="https://www.mozilla.org/firefox/desktop/" data-link-type="footer" data-link-name="Desktop Browser for Mac, Windows, Linux">Firefox Escritorio para Mac, Windows, Linux</a></li>
            <li><a href="https://www.mozilla.org/firefox/android/" data-link-type="footer" data-link-name="Mobile Browser for Android">Navegador móvil para Android</a></li>
            <li><a href="https://www.mozilla.org/firefox/ios/" data-link-type="footer" data-link-name="Mobile Browser for iOS">Navegador móvil para iOS</a></li>
            <li>
              <ul class="social-links">
                <li><a class="twitter" href="https://twitter.com/firefox" data-link-type="footer" data-link-name="Twitter (@firefox)">Twitter<span> (@firefox)</span></a></li>
                <li><a class="facebook" href="https://www.facebook.com/Firefox" data-link-type="footer" data-link-name="Facebook (Firefox)">Facebook<span> (Firefox)</span></a></li>
                <li><a class="youtube" href="https://www.youtube.com/firefoxchannel" data-link-type="footer" data-link-name="YouTube (firefoxchannel)">YouTube<span> (firefoxchannel)</span></a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
  
      <nav class="secondary">
          <div class="small-links">
            <ul>
              <li><a rel="nofollow" href="https://www.mozilla.org/privacy/" data-link-type="footer" data-link-name="Privacy">Privacidad</a></li>
              <li><a rel="nofollow" href="https://www.mozilla.org/privacy/websites/#cookies" data-link-type="footer" data-link-name="Cookies">Cookies</a></li>
              <li><a rel="nofollow" href="https://www.mozilla.org/about/legal/" data-link-type="footer" data-link-name="Legal">Legal</a></li>
            </ul>
            <p class="license">
            Partes de este contenido son ©1998-2020  por contribuyentes individuales. Contenido disponible bajo <a href="https://www.mozilla.org/foundation/licensing/website-content/" rel="external license">licencia Creative Commons </a>          </p>
          </div>
      </nav>
    </div>
  </footer>

  <script src="/themes/frontierline-rm/js/functions.js"></script>
  </body>
</html>
